.select2-search-choice{
	color: #32992F;
	background-color: rgb(222, 249, 222);
}
.select2-search-choice:hover{
	background-color: rgb(80,158,80);
}
.add-answer-button {
	cursor: pointer;
	pointer-events:all;
}
.answers-panel {
	text-align: center;
	word-break:break-all;
}
.answers-panel .answer-row {
	border-radius: 4px;
	background-color: #EFFFF3;
	cursor: pointer;
	margin-bottom: 5px;
}
.answers-panel .answer-row .answer-close{
	display: none;
}
.answers-panel .answer-row:hover{
	background-color: #AED8B8;
}
.answers-panel .answer-row:hover .answer-close{
	color: #8B0202;
	display: block;
}