 .panel {
      display: none;
      width: 660px;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 15px rgba(0,0,0,.6);
      overflow: hidden;
      overflow-y: scroll;
    }
    div.close-panel-bt{
    	cursor: pointer;
    }
    .add-profitplan {
      margin-top: 15px;
    }
    .profit-block {
      display: inline-block;
      width: 100%;
    }
    .profit-sum-block {
      width: 40%;
      float: left;
      text-align: center;
    }
    .profit-film-block {
      width: 60%;
      float: right;
      box-shadow: -10px 0 10px -10px rgba(0,0,0,.6);
      padding-left: 30px;
    }
    .block-film-item {
      display: list-item;
    }