.info-box {
	margin: 10% 20%;
}
.info-box .info-line {
	font-size: 30px;
}
.info-box .info-line span {
	float: right;
}
.info-box .info-line .row-content{
	display: none;
}
.info-box button{
	float: right;
}
.info-box .info-line>div{
	display: inline;
	width: 240px;
}
.info-box .info-line .form-control{
	margin-top: 4px;
	width: 240px;
	float: right;
}
.btn-save{
	display: none;
}